{% partial __SELF__~'::_navigation' %}

<div id="team-hero">
    <h1 class="display-3">Team Roster</h1>
</div>

<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card profile-card-2">
                    <img class="card-img-top" src="/plugins/cleanse/reverie/assets/images/team/bg-melo.jpeg"
                         alt="Melo's Background">
                    <div class="card-body pt-5">
                        <img src="/plugins/cleanse/reverie/assets/images/team/melo.png" alt="MeloXIV" class="profile">
                        <h5 class="card-title">Melo Arkwind</h5>
                        <p class="card-text">My name is Melo and  I mainly play FFXIV PvP, but I also create content
                            for it! whether it be streaming or videos!</p>
                        <p class="card-text">I'm pretty brutal honestly but I'm really nice one you get to know me.  My
                            goal is just to grow and improve the PvP community by showcasing the community and it's
                            unique players and tournaments.</p>
                        <p class="card-text">Character: Melo Arkwind (Exodus Server/Primal Datacenter) [Multiple Top 10
                            and FRC Finalist]</p>
                        <p class="card-text">
                            Support my sponsor and get a discount:
                        </p>
                        <div class="sponsor-row mb-4">
                            <a href="https://opseat.com/ref/Melo/">
                                <img src="/plugins/cleanse/reverie/assets/images/op-seat.png">
                            </a>
                        </div>
                        <div class="d-flex flex-column flex-md-row social-roles">
                            <div class="d-flex mr-auto mb-2 roles">
                                <img src="/plugins/cleanse/reverie/assets/images/healer.png" alt="Healer">
                                <img src="/plugins/cleanse/reverie/assets/images/melee.png" alt="Melee">
                                <img src="/plugins/cleanse/reverie/assets/images/physical.png" alt="Physical Ranged">
                                <img src="/plugins/cleanse/reverie/assets/images/magic.png" alt="Magic Ranged">
                            </div>
                            <div class="d-flex icon-block">
                                <a target="_blank" href="https://www.twitch.tv/meloxiv">
                                    <i class="fab fa-twitch"></i>
                                </a>
                                <a target="_blank" href="https://www.youtube.com/channel/UCu9XJB1l-1bgcjUZtv80j3w">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a target="_blank" href="https://www.instagram.com/melo_desu/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/Meloxiv">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target="_blank" href="https://www.patreon.com/user?u=16491078">
                                    <i class="fab fa-patreon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="card profile-card-2">
                    <img class="card-img-top" src="/plugins/cleanse/reverie/assets/images/team/bg-brian.jpeg"
                         alt="Brian's Background">
                    <div class="card-body pt-5">
                        <img src="/plugins/cleanse/reverie/assets/images/team/brian.jpeg" alt="brianricardo"
                             class="profile">
                        <h5 class="card-title">Brian Ricardo</h5>
                        <p class="card-text">Hello! You can call me Brian or by my middle name Ricardo. I am a variety
                            streamer with emphasis on FFXIV PVP! I play Ranked Feast on pretty much all data centers as
                            a tank and range DPS main. My main goal is to showcase how fun PVP can be. I also run a big
                            Rival Wing discord to help schedule and build hype for players that want it. Other then
                            that, I mostly run a chill stream where you can talk about whatever you want with me.</p>
                        <p class="card-text">Character: Brian Ricardo (Adamantoise Server/Aether Datacenter)
                            [Multiple Top 10 and FRC Finalist]</p>
                        <div class="d-flex flex-column flex-md-row social-roles">
                            <div class="d-flex mr-auto mb-2 roles">
                                <img src="/plugins/cleanse/reverie/assets/images/tank.png" alt="Tank">
                                <img src="/plugins/cleanse/reverie/assets/images/physical.png" alt="Physical Ranged">
                                <img src="/plugins/cleanse/reverie/assets/images/magic.png" alt="Magic Ranged">
                            </div>
                            <div class="d-flex icon-block">
                                <a target="_blank" href="//www.twitch.tv/brianricardo">
                                    <i class="fab fa-twitch"></i>
                                </a>
                                <a target="_blank"
                                   href="//www.youtube.com/channel/UCrM_J5EvJPrHNvaMz4-arKA/featured">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a target="_blank" href="//www.instagram.com/brianricardos/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="//twitter.com/brianricardos">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="card profile-card-2">
                    <img class="card-img-top" src="/plugins/cleanse/reverie/assets/images/team/bg-divinezr.jpg"
                         alt="Divine's Background">
                    <div class="card-body pt-5">
                        <img src="/plugins/cleanse/reverie/assets/images/team/divine.jpg" alt="divine_zr"
                             class="profile">
                        <h5 class="card-title">Divine Zr</h5>
                        <p class="card-text">Hi, I'm Divine Zr and I mainly play Final Fantasy XIV.</p>
                        <p class="card-text">90% of the time, I stream and play only PvP in the game. By PvP I mean
                            mostly Ranked 4v4 Feast Matches and sometimes frontlines. Not a big fan of Rival Wings and
                            rarely play that game mode. I have played in all Datacenters as a Samurai main.</p>
                        <p class="card-text">Character: Divine Zr (Gilgamesh Server/Aether Datacenter)
                            [Multiple Top 10 and FRC Champion]</p>
                        <p class="card-text">
                            Support my sponsor and get a discount.
                        </p>
                        <div class="sponsor-row mb-4">
                            <a href="https://opseat.com/ref/Divineffxiv/">
                                <img src="/plugins/cleanse/reverie/assets/images/op-seat.png">
                            </a>
                        </div>
                        <div class="d-flex flex-column flex-md-row social-roles">
                            <div class="d-flex mr-auto mb-2 roles">
                                <img src="/plugins/cleanse/reverie/assets/images/melee.png" alt="Melee">
                                <img src="/plugins/cleanse/reverie/assets/images/magic.png" alt="Magic Ranged">
                            </div>
                            <div class="d-flex icon-block">
                                <a href="https://www.twitch.tv/divine_zr"><i class="fab fa-twitch"></i></a>
                                <a href="https://twitter.com/Marcito_zr"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="card profile-card-2">
                    <img class="card-img-top" src="/plugins/cleanse/reverie/assets/images/team/bg-mystery.jpeg"
                         alt="Divine's Background">
                    <div class="card-body pt-5">
                        <img src="/plugins/cleanse/reverie/assets/images/team/profile-mystery.jpeg" alt="Mystery"
                             class="profile">
                        <h5 class="card-title"><a href="/reverie/apply">Apply to Team Reverie</a></h5>
                        <p class="card-text">
                            Looking to join the team?
                            <a href="/reverie/apply">Apply here!</a>
                        </p>
                        <p class="card-text">Character: YOU!</p>
                        <div class="d-flex flex-column flex-md-row social-roles">
                            <div class="d-flex mr-auto mb-2 roles">
                                <img src="/plugins/cleanse/reverie/assets/images/role-mystery.png" alt="Mystery">
                            </div>
                            <div class="d-flex icon-block">
                                <!--<a href="/reverie/apply"><i class="fab fa-mystery"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% partial __SELF__~'::_footer' %}