{% partial __SELF__~'::_navigation' %}

<div class="bg-reverie">
    <div class="col-lg-8 offset-lg-2 py-5 bg-thanks">
        <div class="text-center">
            <img class="img-fluid" src="/plugins/cleanse/reverie/assets/images/reverie-thanks.png"/>
            <h1>Thank You!</h1>
            <p class="text-center mt-3">
                We will contact you back as soon as possible.
            </p>
            <a class="btn btn-reverie" href="/reverie">Back to Team Reverie</a>
        </div>
    </div>
</div>

{% partial __SELF__~'::_footer' %}