{% partial __SELF__~'::_navigation' %}

<div id="hero">
    <img class="hero-img" src="/plugins/cleanse/reverie/assets/images/reverie-logo.png">
    <div class="hero-cta">
        <a class="btn btn-reverie btn-lg" href="/reverie/contact">Contact Us</a>
    </div>
</div>

<div id="main-content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">What is Team Reverie?</h3>
                <p class="card-text">
                    <strong>Team Reverie</strong> is a Final Fantasy XIV focused group of individuals who are
                    truly passionate about PvP. Our goal is to show the entire Final Fantasy XIV community that PvP is
                    truly an amazing aspect of the game. Each member is extremely proficient and very knowledgeable of
                    the game. Having been in the top 10 of the The Feast 4v4 leaderboards and participating in the
                    North American Feast Regional Championship, there will always be someone with great information to
                    share!
                </p>
                <p class="card-text">
                    Whether it be about a specific job, game knowledge, or even frontlines, we've got you covered!
                </p>
                <a class="btn btn-reverie btn-lg" href="/reverie/team">Now, let's meet our members.</a>
            </div>
        </div>
    </div>
</div>

{% partial __SELF__~'::_footer' %}