{% partial __SELF__~'::_navigation' %}

<div id="hero">
    <img class="hero-img" src="/plugins/cleanse/reverie/assets/images/reverie-logo.png">
    <div class="hero-cta">
        <p class="container bg-apply">This is the official Team Reverie application form. Your submission will be
            filtered through the leader and co-leader, then the rest of the team for thoughts. The leader will have
            final say on whether you will be approved to join Team Reverie. None of this information will be public
            outside the team members.</p>
        <a class="btn btn-reverie btn-lg" href="https://goo.gl/forms/lutDhSzh0mxVwDO32" target="_blank">
            Apply
        </a>
    </div>
</div>