{% partial __SELF__~'::_navigation' %}

<div id="hero">
    <img class="hero-img" src="/plugins/cleanse/reverie/assets/images/reverie-logo.png">
    <div class="hero-cta">
        <p class="container bg-apply pt-3 pb-4 px-3">This is the official Team Reverie application form. If you are looking
            to join a stream team that supports each other, while educating the community, please send in an
            application.</p>
        <a class="btn btn-reverie btn-lg" href="https://goo.gl/forms/lutDhSzh0mxVwDO32" target="_blank">
            Apply
        </a>
    </div>
</div>

{% partial __SELF__~'::_footer' %}