@import "../../../../../node_modules/bootstrap/scss/bootstrap";

body {
  background: linear-gradient(to left, rgba(100, 65, 164, 0.9), rgba(100, 65, 164, 0.66));
  font-family: Raleway, sans-serif;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto rgb(225, 66, 212);
}

.btn {
  padding: 1rem 2rem;
}

.bg-reverie {
  width: 100%;
  height: 100vh;
  background: url("../images/reverie-hero.jpg") no-repeat fixed center right;
  -webkit-background-size: cover;
  background-size: cover;
}

.bg-thanks {
  background: rgba(255, 255, 255, .69);
  color: rgba(100, 65, 164, 1);
}

.bg-apply {
  background: rgba(170, 118, 251, .5);
  background: linear-gradient(to left, rgba(100, 65, 164, .6), rgba(170, 118, 251, .3));
}

.border-primary {
  border-color: rgb(225, 66, 212) !important;

  a {
    color: rgb(100, 65, 164);
  }
}

.btn-reverie {
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(rgba(100, 65, 164, 0.9), rgba(100, 65, 164, 0.66)),
  url("../images/btn-background.png");
  background-position: 0 0, center;
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  border-color: rgba(100, 65, 164, 1);
  transition: 0.5s;
}

.btn-reverie:hover {
  color: rgba(100, 65, 164, 1);
  background-image: linear-gradient(rgba(100, 65, 164, 0.9), rgba(100, 65, 164, 0.66)),
  url("../images/btn-background.png");
  background-size: 100% 0, cover;
  border-color: rgba(100, 65, 164, 1);
  transition: 0.5s;
}

.reverie-nav {
  background: linear-gradient(to left,
          rgba(55, 30, 95, 0.95),
          rgba(31, 24, 63, 0.95)
  );

  a {
    color: #fff;
  }

  a:hover,
  a:focus,
  a.active {
    color: rgb(225, 66, 212);
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, .69);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../images/reverie-hero.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;

  img {
    margin: 6rem 0 0;
  }

  .hero-nav {
    max-width: 620px;
  }

  .btn-reverie:hover {
    color: #F3E1FF;
    border-color: #F3E1FF;
  }
}

#team-hero {
  width: 100%;
  padding-top: 95px;
  background: url("../images/reverie-hero.jpg") no-repeat fixed bottom center;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;

  h1 {
    padding-bottom: 3rem;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(31, 24, 63, 0.95);
  }
}

#contact-hero {
  width: 100%;
  height: 50vh;
  padding-top: 95px;
  background: url("../images/reverie-hero.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;

  h1 {
    padding-bottom: 3rem;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(31, 24, 63, 0.95);
  }
}

#footer {
  padding: 1.5rem 0 .5rem;
  background: linear-gradient(to left,
          rgba(55, 30, 95, 0.95),
          rgba(31, 24, 63, 0.95)
  );

  .footer-links a,
  .copyright-text a {
    color: rgb(255, 70, 242);
  }

  .copyright-text {
    color: #fff;
  }

  .reverie-logo {
    height: 36px;
    width: auto;
  }
}

#main-content {
  margin: 1.25rem 0 1.5rem;

  .card {
    border: 1px solid rgba(31, 24, 63, 0.5);
    box-shadow: 0 1px 1px rgb(255, 70, 242);
  }
}

/* Team */
.profile-card-2 .card-img-top {
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
}

.profile-card-2 .card-body {
  position: relative;
}

.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 58px;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.profile-card-2 h5 {
  font-weight: 600;
  color: rgba(55, 30, 95, 0.95);
}

.profile-card-2 .card-text {
  font-weight: 300;
}

.profile-card-2 .roles img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.profile-card-2 .icon-block a {
  text-decoration: none;
}

.profile-card-2 i {
  display: inline-block;
  color: rgba(55, 30, 95, 0.95);
  text-align: center;
  border: 1px solid rgba(55, 30, 95, 0.95);
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.profile-card-2 i:hover {
  background-color: rgba(55, 30, 95, 0.95);
  color: #fff;
}

/* honeypot */
.reverie-agreement {
  display: none;
}

@media screen and (max-width: 767px) {
  #hero {
    background: url("../images/reverie-hero.jpg") no-repeat fixed right;
    -webkit-background-size: cover;
    background-size: cover;

    img {
      width: 95%;
      height: auto;
      margin: 7rem 0 0;
    }
  }

  #team-hero {
    background: url("../images/reverie-hero.jpg") no-repeat fixed center right;
    -webkit-background-size: cover;
    background-size: cover;
  }

  #contact-hero {
    background: url("../images/reverie-hero.jpg") no-repeat fixed center left;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media screen and (max-width: 580px) {
  #team-hero {
    img {
      width: 95%;
      height: auto;
      margin: 2rem 0 0;
    }
  }
}

/* That's cap. */